/*Burger menu*/


/*Når skærmen er max 730 px*/

@media screen and (max-width: 730px) {


    .normal {
        display: none;
    }

    header img {
        width: 20vw;
        align-items: center;
        margin: 10px 10px 35px;
    }

    .menubutton {
        width: 2em;
        height: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: space-around;
        align-items: center;
        margin: 15px;
        cursor: pointer;
        position: relative;
        z-index: 10;
        margin-left: 85vw;
        margin-top: -60px;

        border-radius: 5px;
    }

    .bar {
        border-radius: 2px;
        width: 1.8em;
        height: 4px;
        background-color: #000000;
        transition: transform .5s;

    }



    .kryds .bar1 {
        transform: rotate(45deg) translate(8px, 3px);
    }

    .kryds .bar2 {
        opacity: 0;
    }

    .kryds .bar3 {
        transform: rotate(-45deg) translate(8px, -3px);
    }


    nav li {
        margin-top: 40px;
        margin-left: 50px;
        margin-bottom: 40px;
        color: rgba(201, 201, 201, 0);
    }

    nav a {
        color: #000000;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        margin-left: -60px;

        text-decoration: none;

    }

    nav {
        position: absolute;
        background-color: #fff;
        width: 96%;
        transform-origin: top;
        transition: transform .5s;
        z-index: 5;
        margin-top: 20px;
    }

    .hidden {
        display: block;
        transform: translateY(-550px);
    }



}



/*Når skærmen er en vide på minumum 730px*/

@media screen and (min-width: 730px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 25px auto;
        width: 15vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 97%;
        margin-top: 20px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;



    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 55px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 800px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 25px auto;
        width: 15vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 89%;
        margin-top: 28px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;



    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 55px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 850px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 14vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 89%;
        margin-top: 30px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;



    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 60px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 900px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 14vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 83%;
        margin-top: 30px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;



    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 60px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}


@media screen and (min-width: 974px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 13vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 69%;
        margin-top: 35px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 49px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 1024px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 13vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px 170px 30px;
        width: 68%;
        margin-top: 35px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 49px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

/*Når skærmen er en vide på minimum 1040px*/

@media screen and (min-width: 1040px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 13vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 65%;
        margin-top: 35px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 49px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 1080px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 13vw;
    }

    /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/


    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 66%;
        margin-top: 40px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 50px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 1100px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 11vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 51%;
        margin-top: 50px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 35px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 1180px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 11vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 56%;
        margin-top: 50px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;



    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 47px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}


@media screen and (min-width: 1230px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 11vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 54%;
        margin-top: 50px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;



    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 47px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 1280px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 11vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 55%;
        margin-top: 50px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 50px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}


@media screen and (min-width: 1320px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 11vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 53%;
        margin-top: 50px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 50px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 1420px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 30px auto;
        width: 11vw;
        /*
        margin-left: 17vw;
        margin-top: 30px;

        align-items: center;
        padding-left: 20px;
*/
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 50%;
        margin-top: 50px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 50px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }





}

@media screen and (min-width: 1530px) {

    .hidden {
        display: none;
    }

    .menubutton {
        display: none;
    }



    header img {
        display: block;
        margin: 40px auto;
        width: 11vw;

        */
    }

    .normal {
        display: block;
        margin: 0px auto 30px;
        width: 48%;
        margin-top: 50px;
        /*
        margin-left: 0;
        margin-top: 50px;
        align-content: space-between;
        align-items: center;
*/

    }

    .normal a {
        text-decoration: none;
        color: black;
        font-family: 'Open Sans', sans-serif;
        /*        font-weight: normal;*/


    }

    .normal li {
        float: left;
        margin-left: 1.5vw;
    }

    .normal li a {
        color: rgb(0, 0, 0);
        display: block;
        text-align: center;
        margin: 5px 50px;
        text-decoration: none;
    }

    .normal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }




}

.normal a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;



}

.nav-item {
    flex: 1;
    text-align: center;
    /*
    padding-top: 0.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
*/
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    user-select: none;
    cursor: pointer;
    color: currentColor;
    display: inline-block;


}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.3s;

}

.nav-item:hover::after {
    width: 100%;
}
