button {
    background-color: #fff;
    border: none;
    padding: 7px 20px;
    margin: 5px;
    font-family: 'Open sans', sans-serif;
}

/*
button:hover {
    background-color: #BDBCBC;
}
*/


@media screen and (min-width: 300px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 2vw;
        display: grid;
        width: 80vw;
        height: 544vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 80vw;
        cursor: pointer;
    }

    .filtrering {
        width: 90vw;
        margin-left: 10px;
    }

}


@media screen and (min-width: 350px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 2vw;
        display: grid;
        width: 80vw;
        height: 544vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 80vw;
        cursor: pointer;
    }

    .filtrering {
        width: 90vw;
    }
}

@media screen and (min-width: 375px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 2vw;
        display: grid;
        width: 80vw;
        height: 544vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 80vw;
        cursor: pointer;
    }

    .filtrering {
        width: 90vw;
    }
}


@media screen and (min-width: 400px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 3vw;
        display: grid;
        width: 80vw;
        height: 544vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 80vw;
        cursor: pointer;
    }

    .filtrering {
        width: 82vw;
        margin-left: 25px;
    }
}


@media screen and (min-width: 450px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 4vw;
        display: grid;
        width: 80vw;
        height: 544vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 80vw;
        cursor: pointer;
    }

    .filtrering {
        width: 94vw;
    }
}


@media screen and (min-width: 500px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 4vw;
        display: grid;
        width: 80vw;
        height: 544vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 80vw;
        cursor: pointer;
    }

    .filtrering {
        width: 95vw;
    }
}

@media screen and (min-width: 550px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 5vw;
        display: grid;
        width: 80vw;
        height: 544vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 80vw;
        cursor: pointer;
    }

    .filtrering {
        width: 90vw;
    }
}

@media screen and (min-width: 600px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 9vw;
        display: grid;
        width: 80vw;
        height: 340vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 50vw;
        cursor: pointer;
    }

    .filtrering {
        width: 90vw;
    }


}

@media screen and (min-width: 650px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 9vw;
        display: grid;
        width: 80vw;
        height: 340vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 50vw;
        cursor: pointer;
    }

    .filtrering {
        width: 90vw;
    }


}

@media screen and (min-width: 700px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 9vw;
        display: grid;
        width: 80vw;
        height: 340vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 50vw;
        cursor: pointer;
    }

    .filtrering {
        width: 90vw;
    }
}


@media screen and (min-width: 750px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 10vw;
        display: grid;
        width: 80vw;
        height: 340vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 50vw;
        cursor: pointer;
    }

    .filtrering {
        width: 95vw;
    }


}

@media screen and (min-width: 800px) {


    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 10vw;
        display: grid;
        width: 80vw;
        height: 340vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);

    }

    .data-page img {
        width: 50vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 4.5vw;
        bottom: 0;
        left: 15vw;
        right: 0;
        width: 50vw;
        height: 33.3vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 0.9em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 93vw;
    }


}


@media screen and (min-width: 850px) {




    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 18vw;
        display: grid;
        width: 60vw;
        height: 105vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);

    }

    .data-page img {
        width: 25vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 4.5vw;
        bottom: 0;
        left: 4.5vw;
        right: 0;
        width: 25.2vw;
        height: 18vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 0.9em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 92vw;
    }
}

@media screen and (min-width: 950px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 17vw;
        display: grid;
        width: 60vw;
        height: 105vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);

    }

    .data-page img {
        width: 25vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 3.9vw;
        bottom: 0;
        left: 3.9vw;
        right: 0;
        width: 25.2vw;
        height: 18vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 0.9em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 90vw;
    }
}

@media screen and (min-width: 1000px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 19vw;
        display: grid;
        width: 60vw;
        height: 105vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);

    }

    .data-page img {
        width: 25vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 3.9vw;
        bottom: 0;
        left: 3.9vw;
        right: 0;
        width: 25vw;
        height: 18vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 0.9em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 95vw;
    }
}

@media screen and (min-width: 1050px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 8vw;
        display: grid;
        width: 80vw;
        height: 45vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .data-page img {
        width: 19vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 3.6vw;
        bottom: 0;
        left: 3.8vw;
        right: 0;
        width: 19vw;
        height: 13vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 0.9em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 92vw;
    }
}

@media screen and (min-width: 1100px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 8vw;
        display: grid;
        width: 80vw;
        height: 45vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .data-page img {
        width: 19vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 3.5vw;
        bottom: 0;
        left: 3.8vw;
        right: 0;
        width: 19vw;
        height: 13vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 0.9em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 94vw;
    }
}

@media screen and (min-width: 1150px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 8vw;
        display: grid;
        width: 80vw;
        height: 45vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .data-page img {
        width: 19vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 3.3vw;
        bottom: 0;
        left: 3.8vw;
        right: 0;
        width: 19vw;
        height: 13vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 1em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 93vw;
    }
}

@media screen and (min-width: 1180px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 8vw;
        display: grid;
        width: 80vw;
        height: 45vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .data-page img {
        width: 19vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 3.2vw;
        bottom: 0;
        left: 3.8vw;
        right: 0;
        width: 19vw;
        height: 13vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 1em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 94vw;
    }
}

@media screen and (min-width: 1220px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 8vw;
        display: grid;
        width: 80vw;
        height: 45vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .data-page img {
        width: 19vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 3vw;
        bottom: 0;
        left: 3.8vw;
        right: 0;
        width: 19vw;
        height: 13vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 1em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 94vw;
    }


}

@media screen and (min-width: 1300px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 10vw;
        display: grid;
        width: 80vw;
        height: 45vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .data-page img {
        width: 19vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 2.9vw;
        bottom: 0;
        left: 3.9vw;
        right: 0;
        width: 19vw;
        height: 13vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 1em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 94vw;
    }
}

@media screen and (min-width: 1390px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 8vw;
        display: grid;
        width: 80vw;
        height: 45vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .data-page img {
        width: 19vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 2.8vw;
        bottom: 0;
        left: 3.8vw;
        right: 0;
        width: 19vw;
        height: 13vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 1em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 94vw;
    }
}

@media screen and (min-width: 1500px) {
    .data-page {
        text-align: center;
        padding: 40px;
        font-family: 'Avenir-Black';
        transition: 1s;
        overflow: hidden;
    }

    .portfolio {
        margin-left: 8vw;
        display: grid;
        width: 80vw;
        height: 45vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .data-page img {
        width: 19vw;
        cursor: pointer;
    }

    .data-page:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }

    .data-page:hover .overlay {
        z-index: 2;
        opacity: 0.9;
    }



    .overlay {
        position: absolute;
        top: 2.6vw;
        bottom: 0;
        left: 3.8vw;
        right: 0;
        width: 19vw;
        height: 13vw;
        opacity: 0;
        transition: 5.s ease;
        background-color: #BDBCBC;
        cursor: pointer;
    }

    .data-title {
        color: white;
        font-size: 1.4em;
        font-family: 'open sans', sans-serif;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: lighter;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
    }

    .filtrering {
        width: 93vw;
    }
}

.data-kategori {
    display: none;
}


.menu-item {
    flex: 1;
    text-align: center;
    padding-top: 0.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    user-select: none;
    cursor: pointer;
    color: currentColor;
    display: inline-block;


}

.menu-item::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.3s;

}

.menu-item:hover::after {
    width: 100%;
}

.filtrering {
    text-align: center;
    margin-top: 40px;

}
