article {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

strong p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

/*Contact*/
@media screen and (max-width: 730px) {
    .pagecontainer {
        display: block;
        margin: 65px auto 370px;
        width: 89vw;
        justify-content: center;

    }

}


/*Når skærmen er en vide på minumum 730px*/

@media screen and (min-width: 730px) {
    .pagecontainer {
        display: block;
        margin: 65px auto 485px;
        width: 78vw;
        justify-content: center;
    }

}


@media screen and (min-width: 800px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 71vw;
        justify-content: center;
    }

}


@media screen and (min-width: 900px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 69vw;
        justify-content: center;
    }

}

@media screen and (min-width: 974px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 56vw;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .pagecontainer {
        display: block;
        margin: 65px auto 750px;
        width: 60vw;
        justify-content: center;
    }
}

/*Når skærmen er en vide på minimum 1040px*/

@media screen and (min-width: 1040px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 52vw;
        justify-content: center;
    }

}


@media screen and (min-width: 1080px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 52vw;
        justify-content: center;
    }

}

@media screen and (min-width: 1100px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 44vw;
        justify-content: center;
    }

}

@media screen and (min-width: 1180px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 44vw;
        justify-content: center;
    }

}

@media screen and (min-width: 1280px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 46vw;
        justify-content: center;
    }

}

@media screen and (min-width: 1530px) {
    .pagecontainer {
        display: block;
        margin: 65px auto;
        width: 47vw;
        justify-content: center;
    }

}

/* Contact slut */
